*{
    margin: 0px;
    padding: 0px;
}
.box1{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: royalblue;
    border: 3px solid black;
    margin: 10px;
    position: relative;
    /* animation-name: rightmovement; */
    /* animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out; 
    animation-fill-mode: forwards;
    animation-direction: alternate; */
   /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
animation: 10s ease-out 0s infinite alternate none running rightmovement;
}
@keyframes rightmovement{
    from{
     top: 0;
     left: 0;
    }
    to{
      top: 0;
      left: 1200px;
    }
    
}
#box2{
     height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: royalblue;
    border: 3px solid black;
    margin: 10px;
    position: relative;
    
    animation: 10s ease-out 0s infinite alternate none running leftmovement;

}
@keyframes leftmovement{
    from{
     top: 320px;
     left: 1350px;
    }
    to{
      top: 320px;
      left: 0;
    }
    
}
#circle{
     height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: royalblue;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    
    animation: 10s ease-in-out 0s infinite alternate-reverse none running circlemovement;

}
@keyframes circlemovement{
   0%{
    top: 1%;
    left: 5%;
   }
   30%{
   top: 5%;
   left: 90%;

   }
   60%{
     top: 70%;
     left: 10%;
   }
   100%{
   top: 75%;
   left: 90%;
   }
    
}