.container{
    background-color: beige;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center;
    align-items: center; */
    align-content: start;
    height: 1000px; 
}
.box{
    border: 1px solid blue;
    /* height: 200px;
    width: 200px; */
    margin: 2px;
    padding: 2px;
  
}
#box1{
    background-color: yellow;
     /* order: 200; */
     /* flex-grow: 1; */
    /* align-self: end; */
      
}
#box2{
  background-color: violet;
  /* flex-grow: 1;   */
}
#box3{
    background-color: turquoise;
    /* flex-grow: 1; */
}
#box4{
 background-color: tomato;  
 /* flex-shrink: 4; 
 flex-grow: 3; */
 /* flex-basis: 400px; */
}